{% extends 'layouts/base.html' %}

{% block title %}{{ self.title }} - {{ APP_NAME }}{% endblock %}

{% block body_attributes %}
class="dashboard-page" x-data="{ sidebarOpen: window.innerWidth > 992 }"
{% endblock %}

{% block body %}
<!-- Top Navigation -->
{% include 'components/top_navigation.html' %}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-2 col-md-3 p-0">
            {% include 'components/sidebar.html' %}
        </div>
        
        <!-- Main Content -->
        <div class="col-lg-10 col-md-9 p-4">
            <!-- Breadcrumbs -->
            {% include 'components/breadcrumbs.html' %}
            
            <!-- Page Content -->
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<!-- Mobile Sidebar Overlay -->
<div class="sidebar-overlay d-lg-none" 
     x-show="sidebarOpen" 
     x-transition.opacity
     @click="sidebarOpen = false"
     style="display: none;"></div>

{% block extra_bottom_content %}{% endblock %}
{% endblock %}