{% if breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:home' %}"><i class="bi bi-house"></i></a>
        </li>
        {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title }}</li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
{% else %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="{% url 'dashboard:home' %}"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>
{% endif %}