<!-- Modal Component -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-{{ modal_size|default:'lg' }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ modal_id }}Label">{{ modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
            </div>
            {% if modal_footer %}
            <div class="modal-footer">
                {% block modal_footer_content %}{% endblock %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% block modal_scripts %}{% endblock %}