{% autoescape off %}
Hello,

We received a request to reset the password for your account associated with {{ email }}.

If you made this request, please click the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you did not make this request, please ignore this email and your password will remain unchanged.

For security reasons, please do not share this link with anyone.

Thank you,
{{ APP_NAME }} Team
{% endautoescape %}